node_modules
bazel-bin
bazel-lophiid
bazel-out
bazel-testlogs
ui/dist/*
MODULE.bazel.lock
package-lock.json
/backend
/triage_cli
/yara_cli
/api_server
/preprocess_cmp
/client_main
/agent_cli
/iat_tool
.swp
