name: Testing
permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      # Cache Go modules and build output
      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      # Set up Go
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.1'

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.92.0

      - name: Install libmagic
        run: sudo apt-get install -y libmagic-dev

      - name: Clone yara-x
        run: git clone --depth 1 https://github.com/VirusTotal/yara-x.git

      # Cache Rust toolchain, Cargo registry, and build output
      - name: Cache Cargo and Rust build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ~/.cargo/bin
            yara-x/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('yara-x/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Build yara-x
        run: |
          cd yara-x
          export PATH="$HOME/.cargo/bin:$PATH"
          cargo cinstall -p yara-x-capi --release --prefix=/tmp/
          sudo mkdir -p /usr/local/lib/x86_64-linux-gnu/
          sudo cp -r /tmp/lib/x86_64-linux-gnu/* /usr/lib/x86_64-linux-gnu/

      - name: Build pkgs
        run: go build lophiid/pkg/...

      - name: Build tools
        run: go build lophiid/cmd/...

      - name: Test
        run: go test lophiid/pkg/...
